@media screen and (min-width: 769px) {
  .page_content {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
  }
  .page_content .illustration {
    min-height: calc(100svh - 65px);
    flex: 2;
  }
  .page_content .illustration img {
    padding-top: 20rem;
  }
  .page_content .forms_container {
    max-height: 60rem;
    flex: 3;
  }
  .page_content .forms_container .other_logins {
    padding-bottom: 3rem;
  }
}