//imports
@use "../constants/constants.scss" as *;
@use "../mixins/mixins.scss" as *;
@use "../mediaquery/signIn-signUp_MQ.scss" as media;

* {
  //defaults
  margin: 0;
  padding: 0;
}

html {
  /*used this to scale the default value for pixels which 
  is 16px to a product of 10, so now 1rem is no more 16px,
  but rather 1rem is 10px. mainly to avoid heptic calculations*/
  font-size: 62.5%;
  /*a method used to ignore scroll browser elements such as bars, navbars and bottom navbars
  of various device from the viewport, elements now rather occupies the space left aside from the browser elements*/
  height: -webkit-fill-availabe;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
  background-color: $white;
}
/*welcome to sass or scss where the styling is now arranged in a scope manner.
all properties contained in other properties are sub-elements of that property in the html aswell*/
.navbar {
  background-color: $dark;
  /* the following is a feature of sass to create reusable codes
  known as Mixins which can be inported into and other sass files for use*/
  @include flex(row, space-between, center);
  .trademark {
    //another feature in sass that allows the use ov variables
    color: $grey;
    font-family: $righteous;
    font-size: 1.92rem;
    padding: 1rem 1.5rem;
    &:hover {
      transform: scale(1.1);
      transition-duration: 1s;
    }
  }
  .navbar_links {
    width: 16rem;
    margin: 0 1.5rem;
    @include flex(row, space-between, center);

    //same us signIn_link attribute in sign_up.scss
    .signUp_link {
      text-decoration: none;
      font-size: 1.4rem;
      color: $light_blue;
      font-weight: bold;
      font-family: $poppins;
      -webkit-tap-highlight-color: transparent;
      &:hover {
        color: white;
      }
      &:active {
        color: blue;
      }
    }
    div {
      background-color: $white;
      @include flex(column, center, normal);
      border-radius: 3px;
      padding: 0.5rem;
    }
    .talk_to_sales_link {
      text-decoration: none;
      font-size: 1.3rem;
      color: $blue;
      font-family: $poppins;
      font-weight: bold;
      -webkit-tap-highlight-color: transparent;
      &:active {
        color: rgb(0, 0, 0);
      }
    }
  }
}
.page_content {
  .illustration {
    padding: 1.5rem 0;
    display: grid;
    justify-content: center;
    background-color: $blue;
    img {
      width: 18rem;
    }
  }

  .forms_container {
    @include flex(column, center, center);
    padding: 2rem 1.25rem;
    .form {
      color: rgb(0, 0, 0);
      min-width: 50%;
      font-family: $poppins;
      @include flex(column, center, center);
      form {
        min-width: 100%;
        h1 {
          font-size: 4rem;
          text-align: center;
          font-weight: bold;
        }
        h3 {
          font-size: 2rem;
        }
        .input_box {
          margin: 2rem 0;
          border-radius: 40px;
          position: relative;
          @include flex(row, end, center);
          input {
            width: 100%;
            background: transparent;
            outline: none;
            border: 1.5px solid rgb(0, 0, 0);
            border-radius: 40px;
            font-size: 1.4rem;
            color: black;
            font-family: $poppins;
            padding: 1.5rem 6rem 1.5rem 3rem;
          }
          i {
            position: absolute;
            padding: 2rem 2rem;
            font-size: 2rem;
            color: black;
          }
        }
        .forgot {
          text-align: end;
          margin-bottom: 2rem;
          a {
            text-decoration: none;
            font-size: 1.4rem;
            -webkit-tap-highlight-color: transparent;
            color: $blue;
            &:hover {
              color: rgb(255, 0, 0);
            }
            &:active {
              color: blue;
            }
          }
        }
        button {
          min-width: 100%;
          padding: 2rem 0;
          border-radius: 40px;
          background-color: $light_blue;
          border: none;
          font-size: 1.5rem;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
          margin-bottom: 2rem;
          font-family: $poppins;
          p {
            font-weight: bold;
            &:hover {
              transform: scale(1.2);
              transition-duration: 0.5s;
            }
          }
        }
        .signup_link p {
          margin-bottom: 2rem;
          font-size: 1.4rem;
          a {
            font-size: 1.4rem;
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            color: $blue;
            &:hover {
              color: rgb(255, 0, 0);
            }
            &:active {
              color: blue;
            }
          }
        }
      }
    }
    .other_logins {
      @include flex(column, space-around, center);
      p {
        padding: 0 0 1.5rem 0;
        color: black;
        font-family: $poppins;
        font-weight: bold;
        font-size: 1.6rem;
      }
      .icons {
        min-width: 15rem;
        padding: 0 0 2rem 0;
        @include flex(row, space-evenly, center);
        a {
          -webkit-tap-highlight-color: transparent;
          img {
            width: 3rem;
          }
        }
      }
    }
  }
}
@include media.queries;
