//colors
$blue: #175fff;
$dark: #2c3242;
$light_blue: hsl(240, 100%, 90%);
$grey: #dbdff0;
$white: hsl(240, 100%, 97%);
$grad: linear-gradient(#175fff, #315ada);

//fonts
$poppins: "Poppins", sans-serif;
$righteous: "Righteous", sans-serif;
