
//colors
$blue: #175fff;
$dark: #2c3242;
$light_blue: #d6e3ff;
$grey: #f1f2f5;
$white: #ffffff;
$grad: linear-gradient(#175fff, #315ada);

//fonts
$poppins: 'Poppins', sans-serif;
$righteous: 'Righteous', sans-serif;